In [4]:
import pandas as pd

In [5]:
data=[4, 8, 15, 16, 23, 42]

In [6]:
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#2
a=[1,2,3,4,5,6,7,8,9,10]

In [8]:
print(pd.Series(a))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
# 3
details = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25, 30, 27],
    'Gender' : ['Male', 'Female', 'Male'],
}

In [13]:
df=pd.DataFrame(details)

In [14]:
df

     Name  Age  Gender
0   Alice   25    Male
1     Bob   30  Female
2  Claire   27    Male

#4
 a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.

#5
read_csv() This is one of the most crucial pandas methods in Python. ...
head() head(n) is used to return the first n rows of a dataset. ...
describe() ...
memory_usage() ...
astype() ...
loc[:] ...
to_datetime() .

#6
All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.

In [15]:
#7

import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000